<?xml version="1.0"?>
<!--
/**
 * Pimgento API Module
 *
 * @author    Agence Dn'D <contact@dnd.fr>
 * @copyright 2018 Agence Dn'D
 * @license   http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @link      https://www.pimgento.com/
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="pimgento" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0"
                 showInStore="0">
            <label>Pimgento</label>
            <tab>catalog</tab>
            <resource>Pimgento_Import::config_pimgento</resource>
            <group id="akeneo_api" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Akeneo API Configuration</label>
                <field id="base_url" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Akeneo base URL</label>
                </field>
                <field id="username" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Akeneo username</label>
                    <comment>The Akeneo user should have permissions to list</comment>
                </field>
                <field id="password" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Akeneo password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Akeneo API client ID</label>
                </field>
                <field id="client_secret" translate="label" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Akeneo API client secret</label>
                </field>
                <field id="api_test" translate="label" type="button" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Api\Test</frontend_model>
                    <label>Test API credentials</label>
                </field>
                <field id="is_enterprise" translate="label" type="select" sortOrder="70" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Is Akeneo enterprise edition</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pagination_size" translate="label comment" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pagination size</label>
                    <comment>Must be a value between 1 and 100. Default value is 10.</comment>
                </field>
                <field id="admin_channel" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Admin Website Channel</label>
                    <comment>Set Magento Admin website default Pim channel</comment>
                    <validate>required-entry</validate>
                </field>
                <field id="website_mapping" translate="label" type="text" sortOrder="91" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Website Mapping</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Website</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Match Magento website with Pim channel</comment>
                    <validate>required-entry</validate>
                </field>
            </group>
            <group id="products_filters" translate="label" type="text" sortOrder="20" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Filter products</label>
                <field id="mode" translate="label comment" type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Mode</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Mode</source_model>
                </field>
                <field id="completeness_type" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Completeness type</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Completeness</source_model>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="completeness_scope" translate="label comment" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Channel</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Channel</source_model>
                    <comment>Select the channel to apply the completeness filter on</comment>
                    <depends>
                        <field id="completeness_type" negative="1">no_condition</field>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="completeness_locales" translate="label comment" type="multiselect" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Locales</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Locales</source_model>
                    <comment>Select the locales to apply the completeness filter on</comment>
                    <depends>
                        <field id="completeness_type" separator="," negative="1">
                            <![CDATA[<,<=,>,>=,=,!=,no_condition]]></field>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="completeness_value" translate="label comment" type="text" sortOrder="50" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Completeness value</label>
                    <comment>Has to be a value between 0 and 100</comment>
                    <depends>
                        <field id="completeness_type" negative="1">no_condition</field>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="status" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Status</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Status</source_model>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="updated" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Updated</label>
                    <comment>
                        <![CDATA[Import only product updated since last X days. Leave blank for no filter.]]>
                    </comment>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="families" translate="label comment" type="multiselect" sortOrder="80" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Families</label>
                    <source_model>Pimgento\Api\Model\Source\Filters\Family</source_model>
                    <comment>
                        <![CDATA[Select the families you don't want to retrieve products from.<br/> If the multiselect is empty, it means you don't have any families in your Akeneo, or the provided credentials are wrong.]]>
                    </comment>
                    <depends>
                        <field id="mode">standard</field>
                    </depends>
                </field>
                <field id="advanced_filter" translate="label comment" type="textarea" sortOrder="90" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Advanced Filter</label>
                    <backend_model>Pimgento\Api\Model\Backend\Json</backend_model>
                    <comment>
                        <![CDATA[Build your query using a json.<br/>
For example :<br/>
<pre>
{
    "search": {
        "enabled": [{
            "operator": "=",
            "value": true
        }],
        "sku": [{
            "operator": "STARTS WITH",
            "value": "A"
        }]
    },
    "scope": "ecommerce",
    "locales": "fr_FR,de_DE"
}</pre>]]>
                    </comment>
                    <depends>
                        <field id="mode">advanced</field>
                    </depends>
                </field>
            </group>
            <group id="attribute" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Attributes</label>
                <field id="types" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Additional types</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Type</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Match specific Pim type with Magento input field</comment>
                </field>
            </group>
            <group id="product" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Products</label>
                <field id="attribute_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute Mapping</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Attribute</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Fill additional Magento attributes from Pim attributes</comment>
                </field>
                <field id="tax_class" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Tax Class</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Tax</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Set up default tax class for website</comment>
                </field>
                <field id="configurable_attributes" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configurable</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Configurable</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <comment>Fill configurable attributes with default value, leave blank to take simple product value or variant value if exists</comment>
                </field>
                <field id="media_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import Media Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="media_gallery" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>PIM Images Attributes</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Gallery</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="media_enabled">1</field>
                    </depends>
                </field>
                <field id="media_images" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Images Mapping</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Image</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="media_enabled">1</field>
                    </depends>
                </field>
                <field id="asset_enabled" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import Asset Files</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="*/akeneo_api/is_enterprise">1</field>
                    </depends>
                </field>
                <field id="asset_gallery" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>PIM Asset Attributes</label>
                    <frontend_model>Pimgento\Api\Block\Adminhtml\System\Config\Form\Field\Gallery</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                    <depends>
                        <field id="asset_enabled">1</field>
                        <field id="*/akeneo_api/is_enterprise">1</field>
                    </depends>
                </field>
                <field id="url_generation_enabled" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Regenerate url rewrites</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
